# Scala in Colab

## Install the Scala Kernel
If you get a "scala" kernel not recognized warning when loading up the notebook for the first time, start by running the two cells below. Once you are done **reload the page** to load the notebook in the installed Scala kernel.

In [ ]:
// %%shell
// SCALA_VERSION=2.12.8 ALMOND_VERSION=0.3.0+16-548dc10f-SNAPSHOT
// curl -Lo coursier https://git.io/coursier-cli
// chmod +x coursier
// ./coursier bootstrap \
//     -r jitpack -r sonatype:snapshots \
//     -i user -I user:sh.almond:scala-kernel-api_$SCALA_VERSION:$ALMOND_VERSION \
//     sh.almond:scala-kernel_$SCALA_VERSION:$ALMOND_VERSION \
//     --sources --default=true \
//     -o almond-snapshot --embed-files=false
// rm coursier
// ./almond-snapshot --install --global --force
// rm almond-snapshot

In [ ]:
// %%shell
// echo "{
//   \"language\" : \"scala\",
//   \"display_name\" : \"Scala\",
//   \"argv\" : [
//     \"bash\",
//     \"-c\",
//     \"env LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libpython3.6m.so:\$LD_PRELOAD java -jar /usr/local/share/jupyter/kernels/scala/launcher.jar --connection-file {connection_file}\"
//   ]
// }" > /usr/local/share/jupyter/kernels/scala/kernel.json

## Hello World!

In [1]:
println("Hello, world!")

Hello, world!

# Part 1 - Intro to Scala Collections - Exercises

## Exercise 1

#### Task 1
##### Create a list that contains the elements 1,2,3,4,5.
##### Name the list List1.

#### Result:

In [2]:
var List1 = List(1,2,3,4,5)

List1: List[Int] = List(1, 2, 3, 4, 5)

#### Task 2
##### Create a list that contains the elements Capital, One, Data, Science.
##### Name the list List2.

#### Result:

In [3]:
var List2 = List("Capital", "One", "Data", "Science")

List2: List[String] = List("Capital", "One", "Data", "Science")

#### Task 3
##### Multiply each each element in List1 by 2.

#### Result:

In [4]:
List1.map(_ * 2)

res3: List[Int] = List(2, 4, 6, 8, 10)

#### Task 4
##### Create a set with the elements 1,2,3,3,4,4.
##### Which elements are actually included in the set?

#### Result:

In [5]:
var numberSet = Set(1,2,3,3,4,4)

numberSet: Set[Int] = Set(1, 2, 3, 4)

#### Task 5
##### Create a map that has the following elements: Data Scientist -> 1000, Data Analyst -> 100, Data Engineer -> 500.
##### Name the map Map1.

#### Result:

In [6]:
var dsMap = Map("Data Scientist" -> 1000, "Data Engineer" -> 500, "Data Analyst" -> 100)

dsMap: Map[String, Int] = Map(
  "Data Scientist" -> 1000,
  "Data Engineer" -> 500,
  "Data Analyst" -> 100
)

#### Task 6
##### Create both an immutable and a mutable set that contain the elements 1,2,3,4

#### Result:

In [7]:
var numberSet1 = Set(1,2,3,3,4,4)

numberSet1: Set[Int] = Set(1, 2, 3, 4)

In [8]:
import scala.collection.mutable

import scala.collection.mutable

In [9]:
var numberSet2 = mutable.Set(1,2,3,3,4,4)

numberSet2: mutable.Set[Int] = Set(1, 2, 3, 4)

## Exercise 2

#### Task 1
##### Create a List that contaisn the elements 1,2,3,4,5,6,7,8,9,10.
##### Name the List List1.

#### Result:

In [10]:
var List1 = List(1,2,3,4,5,6,7,8,9,10)

List1: List[Int] = List(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

#### Task 2
##### Access the third element of List1

#### Result:

In [11]:
List1(2)

res10: Int = 3

#### Task 3
##### Check if List1 contains the element 11

#### Result:

#### Task 4
##### Filter List1 for all the elements with a value lower than 7

#### Result:

#### Task 5
##### Sort List1

#### Result:

#### Task 6
##### Create a list with elements 2,4,6,8,9. Name the list List2.
##### Check if all elements of List2 can be divided by 2 with a reminder of 0.

#### Result:

#### Task 7
##### Create a map with the following elements: New York -> 85, Los Angeles -> 75, Miami -> 90.
##### Name the map Map1.
##### Add the following elements to Map1: DC -> 85, Chicago -> 70 and name the resulting map Map2.

#### Result:

#### Task 8
##### Access the value for the key DC in Map2.
##### Print the following sentence: It is {value for key DC} degrees in DC.

#### Result:

#### Task 9
##### Create a set with the following elements: Monday, Tuesday, Wednesday, Thursday, Friday.
##### Name the set Set1.
##### Add the following elements to the set: Saturday, Sunday and name the resulting set Set2.

#### Result:

#### Task 10
##### Take the intersection of Set1 and Set2.
##### Take the union of Set1 and Set2.

#### Result:

## Exercise 3

#### Task 1
##### Create an empty ArrayBuffer of type Double and name it Array_1.
##### Add the element 0.3 to Array_1.

#### Result:

#### Task 2
##### Add the elements 0.5, 0.8 to Array_1.
##### Remove element 0.3 from Array_1.

#### Result:

#### Task 3
##### Create an empty ListBuffer of type Byte and name it LBuffer_1.
##### Add the element 123 to LBuffer_1.

#### Result:

#### Task 4
##### Add the elements 46, 79 to LBuffer_1.
##### Remove elements 123, 46 from LBuffer_1.

#### Result:

#### Task 5
##### Create an empty stack that can hold elements of type String called Stack_1.
##### Add the elements First one, Second one, Third one to Stack_1.

#### Result:

#### Task 6
##### Pop the last call from Stack_1.
##### Pop the last call from Stack_1 again.
##### Print the remaining call in Stack_1.

#### Result:

#### Task 7
##### Create a mutable map called MMap_1.
##### Add the following elements to MMap_1: USA -> 330, Mexico -> 130, Canada -> 30

#### Result:

#### Task 8
##### Remove Canada -> 30 from the mutable map and add Canada -> 40 instead

#### Result:

#### Task 9
##### Create an array Array_1 and add elements 1, 2, 3, 4 to it.
##### Print Array_1.

#### Result:

#### Task 10
##### Multiply all the elements in Array_1 by 3 and call the resulting array Array_2.
##### Filter Array_2 for all the elements that can be divided by 2 without having a remainder and assign them to Array_3.
##### Print Array_3.

#### Result: