<a href="https://colab.research.google.com/github/hinzle/cognizant/blob/main/Spark_Exercises_Answers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part 2 - Intro to Spark - Exercises with answers

In [ ]:
%%shell
SCALA_VERSION=2.12.8 ALMOND_VERSION=0.3.0+16-548dc10f-SNAPSHOT
curl -Lo coursier https://git.io/coursier-cli
chmod +x coursier
./coursier bootstrap \
    -r jitpack -r sonatype:snapshots \
    -i user -I user:sh.almond:scala-kernel-api_$SCALA_VERSION:$ALMOND_VERSION \
    sh.almond:scala-kernel_$SCALA_VERSION:$ALMOND_VERSION \
    --sources --default=true \
    -o almond-snapshot --embed-files=false
rm coursier
./almond-snapshot --install --global --force
rm almond-snapshot

In [ ]:
%%shell
echo "{
  \"language\" : \"scala\",
  \"display_name\" : \"Scala\",
  \"argv\" : [
    \"bash\",
    \"-c\",
    \"env LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libpython3.6m.so:\$LD_PRELOAD java -jar /usr/local/share/jupyter/kernels/scala/launcher.jar --connection-file {connection_file}\"
  ]
}" > /usr/local/share/jupyter/kernels/scala/kernel.json

## Exercise 1

#### Task 1
##### Create an RDD called RDD_1 from an array with elements 10,20,30,40.

#### Result:

In [ ]:
val Array_1 = Array(10,20,30,40)
val RDD_1 = sc.parallelize(Array_1)

SyntaxError: ignored

#### Task 2
##### Create an RDD called RDD_2 from the text file `rdd-input-exercises.txt`.
##### This is a text file regarding some of the examples of types of credit card fraud.

#### Result:

In [ ]:
val data_dir = "/home/jovyan/scala-spark-training/data"

data_dir: String = /home/jovyan/scala-spark-training/data

In [ ]:
val RDD_2 = sc.textFile(data_dir + "/rdd-input-exercises.txt")

RDD_2: org.apache.spark.rdd.RDD[String] = /home/jovyan/scala-spark-training/data/rdd-input-exercises.txt MapPartitionsRDD[2] at textFile at <console>:27

#### Task 3
##### Create a new RDD called RDD_identity from the lines in RDD_2 that contain the word identity.
##### Create a new RDD called RDD_cardholder from the lines in RDD_2 that contain the word cardholder.

#### Result:

In [ ]:
val RDD_identity = RDD_2.filter(line => line.contains("identity"))
val RDD_cardholder = RDD_2.filter(line => line.contains("cardholder"))

RDD_identity: org.apache.spark.rdd.RDD[String] = MapPartitionsRDD[3] at filter at <console>:26
RDD_cardholder: org.apache.spark.rdd.RDD[String] = MapPartitionsRDD[4] at filter at <console>:27

#### Task 4
##### Combine RDD_identity and RDD_cardholder in an RDD called RDD_union by taking the union.

#### Result:

In [ ]:
val RDD_union = RDD_identity.union(RDD_cardholder)

RDD_union: org.apache.spark.rdd.RDD[String] = UnionRDD[5] at union at <console>:27

#### Task 5
##### Count the number of lines in RDD_union.

#### Result:

In [ ]:
RDD_union.count()

res0: Long = 34

#### Task 6
##### Print the first 3 lines in RDD_union.

#### Result:

In [ ]:
RDD_union.take(3)
.foreach(println)

The only common security measure on all cards is a signature panel, but, depending on its exact design, a signature may be relatively easy to forge. Some merchants will demand to see a picture ID, such as a driver's license, to verify the identity of the purchaser, and some credit cards include the holder's picture on the card itself. In some jurisdictions, it is illegal for merchants to demand cardholder identification.[7] Self-serve payment systems (gas stations, kiosks, etc.) are common targets for stolen cards, as there is no way to verify the card holder's identity. There is also a new law that has been implemented that identification or a signature is only required for purchases above $50 unless stated in the policy of the merchant.[citation needed][where?] This new law makes it easier for credit card theft to take place as well because it is not making it necessary for a form of identification to be presented, so as long as the fraud is done at what is considered to be a small amount, little to no action is taken by the merchant to prevent it.\
An account takeover occurs when criminals pose as a genuine customer, gain control of an account and then makes unauthorized transactions. According to Action Fraud,[11] fraud is committed at the point money is lost.[12] An account takeover refers to the act by which fraudsters will attempt to assume control of a customer's account from a broad array of service providers such as credit cards, email, banks, and more. Control at the account level offers better long-term returns for fraudsters but can be extremely harmful to the rightful account owners. According to Forrester, risk-based authentication (RBA) plays a key role in identity and access management (IAM) and risk mitigation of account takeover attacks that result in up to $7 billion in annual losses.[13]\
The most prominent types of account takeovers deal with credit card fraud. As opposed to stealing credit card numbers which can be changed after the user reports it lost or stolen, fraudsters prefer account takeover to maximize their return on investment. A fraudster uses parts of the victim's identity such as an email address to gain access to financial accounts. This individual then intercepts communication about the account to keep the victim blind to any threats. Victims are often the first to detect account takeover when they discover charges on monthly statements they did not authorize or multiple questionable withdrawals.[14] Recently there has been an increase in the number of account takeovers since the adoption of EMV technology, which makes it more difficult for fraudsters to clone physical credit cards.[15]\

## Exercise 2

#### Task 1
##### Create a dataframe called creditcard from the file `creditcard.csv`.
##### Choose option("inferSchema", "true") and option("header", "true").
##### This dataset contains credit card transactions of different amounts and flagged as fraudulent or not. Additionally, it also contains 28 columns of PCA transformations of sensitive data that could not be shared.

#### Result:

In [ ]:
val creditcard = spark.read.format("csv")       // read csv format
  .option("inferSchema", "true")                //  infer the schema
  .option("header", "true")                     //  include header
  .load(data_dir + "/creditcard.csv")           // read the file

creditcard: org.apache.spark.sql.DataFrame = [Time: double, V1: double ... 29 more fields]

#### Task 2
##### View the schema of the dataframe.

#### Result:

In [ ]:
creditcard.printSchema()

root
 |-- Time: double (nullable = true)
 |-- V1: double (nullable = true)
 |-- V2: double (nullable = true)
 |-- V3: double (nullable = true)
 |-- V4: double (nullable = true)
 |-- V5: double (nullable = true)
 |-- V6: double (nullable = true)
 |-- V7: double (nullable = true)
 |-- V8: double (nullable = true)
 |-- V9: double (nullable = true)
 |-- V10: double (nullable = true)
 |-- V11: double (nullable = true)
 |-- V12: double (nullable = true)
 |-- V13: double (nullable = true)
 |-- V14: double (nullable = true)
 |-- V15: double (nullable = true)
 |-- V16: double (nullable = true)
 |-- V17: double (nullable = true)
 |-- V18: double (nullable = true)
 |-- V19: double (nullable = true)
 |-- V20: double (nullable = true)
 |-- V21: double (nullable = true)
 |-- V22: double (nullable = true)
 |-- V23: double (nullable = true)
 |-- V24: double (nullable = true)
 |-- V25: double (nullable = true)
 |-- V26: double (nullable = true)
 |-- V27: double (nullable = true)
 |-- V28: double (nullable = true)
 |-- Amount: double (nullable = true)
 |-- Class: integer (nullable = true)

#### Task 3
##### View the first 10 rows of the Amount and Class column from the dataframe.

#### Result:

In [ ]:
creditcard.select("Amount", "Class")
.show(10)

+------+-----+
|Amount|Class|
+------+-----+
|149.62|    0|
|  2.69|    0|
|378.66|    0|
| 123.5|    0|
| 69.99|    0|
|  3.67|    0|
|  4.99|    0|
|  40.8|    0|
|  93.2|    0|
|  3.68|    0|
+------+-----+
only showing top 10 rows

#### Task 4
##### Create a SQL TempView of the dataframe and name it as creditcard_view.


#### Result:

In [ ]:
creditcard.createOrReplaceTempView("creditcard_view")

#### Task 5
##### Using the SQL command, print the Amount and Class column.

#### Result:

In [ ]:
sql("SELECT Amount, Class FROM creditcard_view")

res5: org.apache.spark.sql.DataFrame = [Amount: double, Class: int]

#### Task 6
##### Let’s go back to the creditcard DataFrame.
##### Select the Amount column and show the first 10 entries

#### Result:

In [ ]:
creditcard.select("Amount")
.show(10)

+------+
|Amount|
+------+
|149.62|
|  2.69|
|378.66|
| 123.5|
| 69.99|
|  3.67|
|  4.99|
|  40.8|
|  93.2|
|  3.68|
+------+
only showing top 10 rows

#### Task 7
##### Using the agg() function, aggregate and find the maximum value from the Amount column.

#### Result:

In [ ]:
creditcard.agg("Amount"->"max")
.show()

+-----------+
|max(Amount)|
+-----------+
|   25691.16|
+-----------+

#### Task 8
##### Filter the dataframe for rows with Class greater than 0 and sort these rows by descending order of Amount. Show the first 5 rows.

#### Result:

In [ ]:
creditcard.filter($"Class" > 0)
.sort($"Amount")
.show(5)

+-------+-----------------+-----------------+------------------+----------------+------------------+------------------+------------------+-----------------+------------------+------------------+-----------------+------------------+------------------+-----------------+-----------------+-----------------+-----------------+-------------------+------------------+-------------------+--------------------+-------------------+-------------------+-------------------+-------------------+------------------+------------------+------------------+------+-----+
|   Time|               V1|               V2|                V3|              V4|                V5|                V6|                V7|               V8|                V9|               V10|              V11|               V12|               V13|              V14|              V15|              V16|              V17|                V18|               V19|                V20|                 V21|                V22|                V23|                V24|                V25|               V26|               V27|               V28|Amount|Class|
+-------+-----------------+-----------------+------------------+----------------+------------------+------------------+------------------+-----------------+------------------+------------------+-----------------+------------------+------------------+-----------------+-----------------+-----------------+-----------------+-------------------+------------------+-------------------+--------------------+-------------------+-------------------+-------------------+-------------------+------------------+------------------+------------------+------+-----+
|41233.0|-10.6457996485752|  5.9183066586857| -11.6710425949575|8.80736917876038| -7.97550136587277| -3.58680634405361| -13.6167970541448| 6.42816934590602| -7.36845129274034| -12.8881582878915| 6.85495311388866| -13.2116950297251|  1.03561234332246|-13.7789556397675| 1.04044835530024|-11.2903278082585|-20.5780220491922|  -7.54782411219534|  3.11847976563045|-0.0461701790327979|    2.57196959291347|  0.206809359357246|  -1.66780140024191|  0.558418754024331|-0.0278978765982558| 0.354253781525514| 0.273328726801416|-0.152908080809092|   0.0|    1|
|53658.0|-1.73934096431325| 1.34452078912347|-0.534379047474665|3.19529149873811|-0.416196142475576| -1.26196066822182| -2.34099093949748|0.713003645507275| -1.41626499933122|  -2.9966693020716|0.747478135782509| -4.59661151187479| -1.92775970193864|-4.75707449850737| -1.2478148188713|-2.53549425081321|-5.35646454386042|  -1.97474852459452|-0.603726269220942|0.00274947845372853|    0.38318010845642|  -0.21395221812466| -0.336639824887574|   0.23707630076775|  0.246002931555889|-0.044227636498999| 0.510729074882634|  0.22095159365596|   0.0|    1|
|64585.0| 1.08043336974687|0.962830680816555| -0.27806547765439|2.74331806279958| 0.412364075681078|-0.320778352962878|0.0412895489552235|0.176170299597767|-0.966951551053629|-0.194120466505581| 2.14005681553663|-0.276308752749667| -1.19130573752489|-1.88027540328199|0.398271956336376| 1.36743302249318| 1.52266169956075|   1.02631748255981| -1.57707047840184| -0.172658644566365|-0.00899617409257402|-0.0570361435998535|-0.0536915092211487|-0.0263732767799466|   0.40029973123052|0.0728277709127376|0.0270429343018625|0.0632375727147923|   0.0|    1|
|  406.0| -2.3122265423263| 1.95199201064158| -1.60985073229769| 3.9979055875468|-0.522187864667764| -1.42654531920595| -2.53738730624579| 1.39165724829804| -2.77008927719433| -2.77227214465915| 3.20203320709635| -2.89990738849473|-0.595221881324605|-4.28925378244217|0.389724120274487|-1.14074717980657|-2.83005567450437|-0.0168224681808257| 0.416955705037907|  0.126910559061474|   0.517232370861764|-0.0350493686052974| -0.465211076182388|  0.320198198514526| 0.0445191674731724| 0.177839798284401| 0.261145002567677|-0.143275874698919|   0.0|    1|
|32686.0|0.287952771527529| 1.72873464521162| -1.65217304572257|3.81354418795523| -1.09092715391318|-0.984744665624589| -2.20231792699069|0.555087932252191| -2.03389204830362| -2.73415555507211| 2.36843367282003| -3.65680265130054|-0.169534683304731|-4.74441333023745|0.765192829294304|-2.47951355643698|-4.93111196829858|  -2.54740252736051| -0.90268980289448|  0.265250210286539|   0.262201510185118| -0.633527564205563| 0.0928910102678184|  0.187612655556196|  0.368708354409639|-0.132474029018571|  0.57656075692479| 0.309842705461879|   0.0|    1|
+-------+-----------------+-----------------+------------------+----------------+------------------+------------------+------------------+-----------------+------------------+------------------+-----------------+------------------+------------------+-----------------+-----------------+-----------------+-----------------+-------------------+------------------+-------------------+--------------------+-------------------+-------------------+-------------------+-------------------+------------------+------------------+------------------+------+-----+
only showing top 5 rows

#### Task 9
##### Group by Class and take the mean of Amount for each group.

#### Result:

In [ ]:
creditcard.select($"Amount", $"Class")
.groupBy($"Class")
.agg("Amount" -> "mean")
.show()

+-----+------------------+
|Class|       avg(Amount)|
+-----+------------------+
|    1|122.21132113821135|
|    0| 88.29102242228011|
+-----+------------------+

## Exercise 3

#### Task 1
##### Define a case class with the types for each of the variables in the DataFrame for the creditcard data and name as creditcard_class.
##### Refer to the answer from Exercise 1 Task 2.
- For the Time column, make sure to cast as Long type.

#### Result:

In [ ]:
case class creditcard_class (
    Time: Double,
    V1: Double,
    V2: Double,
    V3: Double,
    V4: Double,
    V5: Double,
    V6: Double,
    V7: Double,
    V8: Double,
    V9: Double,
    V10: Double,
    V11: Double,
    V12: Double,
    V13: Double,
    V14: Double,
    V15: Double,
    V16: Double,
    V17: Double,
    V18: Double,
    V19: Double,
    V20: Double,
    V21: Double,
    V22: Double,
    V23: Double,
    V24: Double,
    V25: Double,
    V26: Double,
    V27: Double,
    V28: Double,
    Amount: Double, 
    `Class`: Integer)

defined class creditcard_class

#### Task 2
##### Load the file `creditcard.csv` as a DataFrame and type cast as creditcard_class to create a Dataset.
##### Save the object as creditcard_set Dataset.

#### Result:

In [ ]:
val creditcard_set = spark.read.format("csv")
  .option("inferSchema", "true")
  .option("header", "true")
  .load(data_dir + "/creditcard.csv")
  .as[creditcard_class]

creditcard_set: org.apache.spark.sql.Dataset[creditcard_class] = [Time: double, V1: double ... 29 more fields]

#### Task 3
##### Print the first few rows of the creditcard_set Dataset.

#### Result:

In [ ]:
creditcard_set.take(10)  
.foreach(println)

creditcard_class(0.0,-1.3598071336738,-0.0727811733098497,2.53634673796914,1.37815522427443,-0.338320769942518,0.462387777762292,0.239598554061257,0.0986979012610507,0.363786969611213,0.0907941719789316,-0.551599533260813,-0.617800855762348,-0.991389847235408,-0.311169353699879,1.46817697209427,-0.470400525259478,0.207971241929242,0.0257905801985591,0.403992960255733,0.251412098239705,-0.018306777944153,0.277837575558899,-0.110473910188767,0.0669280749146731,0.128539358273528,-0.189114843888824,0.133558376740387,-0.0210530534538215,149.62,0)
creditcard_class(0.0,1.19185711131486,0.26615071205963,0.16648011335321,0.448154078460911,0.0600176492822243,-0.0823608088155687,-0.0788029833323113,0.0851016549148104,-0.255425128109186,-0.166974414004614,1.61272666105479,1.06523531137287,0.48909501589608,-0.143772296441519,0.635558093258208,0.463917041022171,-0.114804663102346,-0.183361270123994,-0.145783041325259,-0.0690831352230203,-0.225775248033138,-0.638671952771851,0.101288021253234,-0.339846475529127,0.167170404418143,0.125894532368176,-0.00898309914322813,0.0147241691924927,2.69,0)
creditcard_class(1.0,-1.35835406159823,-1.34016307473609,1.77320934263119,0.379779593034328,-0.503198133318193,1.80049938079263,0.791460956450422,0.247675786588991,-1.51465432260583,0.207642865216696,0.624501459424895,0.066083685268831,0.717292731410831,-0.165945922763554,2.34586494901581,-2.89008319444231,1.10996937869599,-0.121359313195888,-2.26185709530414,0.524979725224404,0.247998153469754,0.771679401917229,0.909412262347719,-0.689280956490685,-0.327641833735251,-0.139096571514147,-0.0553527940384261,-0.0597518405929204,378.66,0)
creditcard_class(1.0,-0.966271711572087,-0.185226008082898,1.79299333957872,-0.863291275036453,-0.0103088796030823,1.24720316752486,0.23760893977178,0.377435874652262,-1.38702406270197,-0.0549519224713749,-0.226487263835401,0.178228225877303,0.507756869957169,-0.28792374549456,-0.631418117709045,-1.0596472454325,-0.684092786345479,1.96577500349538,-1.2326219700892,-0.208037781160366,-0.108300452035545,0.00527359678253453,-0.190320518742841,-1.17557533186321,0.647376034602038,-0.221928844458407,0.0627228487293033,0.0614576285006353,123.5,0)
creditcard_class(2.0,-1.15823309349523,0.877736754848451,1.548717846511,0.403033933955121,-0.407193377311653,0.0959214624684256,0.592940745385545,-0.270532677192282,0.817739308235294,0.753074431976354,-0.822842877946363,0.53819555014995,1.3458515932154,-1.11966983471731,0.175121130008994,-0.451449182813529,-0.237033239362776,-0.0381947870352842,0.803486924960175,0.408542360392758,-0.00943069713232919,0.79827849458971,-0.137458079619063,0.141266983824769,-0.206009587619756,0.502292224181569,0.219422229513348,0.215153147499206,69.99,0)
creditcard_class(2.0,-0.425965884412454,0.960523044882985,1.14110934232219,-0.168252079760302,0.42098688077219,-0.0297275516639742,0.476200948720027,0.260314333074874,-0.56867137571251,-0.371407196834471,1.34126198001957,0.359893837038039,-0.358090652573631,-0.137133700217612,0.517616806555742,0.401725895589603,-0.0581328233640131,0.0686531494425432,-0.0331937877876282,0.0849676720682049,-0.208253514656728,-0.559824796253248,-0.0263976679795373,-0.371426583174346,-0.232793816737034,0.105914779097957,0.253844224739337,0.0810802569229443,3.67,0)
creditcard_class(4.0,1.22965763450793,0.141003507049326,0.0453707735899449,1.20261273673594,0.191880988597645,0.272708122899098,-0.00515900288250983,0.0812129398830894,0.464959994783886,-0.0992543211289237,-1.41690724314928,-0.153825826253651,-0.75106271556262,0.16737196252175,0.0501435942254188,-0.443586797916727,0.00282051247234708,-0.61198733994012,-0.0455750446637976,-0.21963255278686,-0.167716265815783,-0.270709726172363,-0.154103786809305,-0.780055415004671,0.75013693580659,-0.257236845917139,0.0345074297438413,0.00516776890624916,4.99,0)
creditcard_class(7.0,-0.644269442348146,1.41796354547385,1.0743803763556,-0.492199018495015,0.948934094764157,0.428118462833089,1.12063135838353,-3.80786423873589,0.615374730667027,1.24937617815176,-0.619467796121913,0.291474353088705,1.75796421396042,-1.32386521970526,0.686132504394383,-0.0761269994382006,-1.2221273453247,-0.358221569869078,0.324504731321494,-0.156741852488285,1.94346533978412,-1.01545470979971,0.057503529867291,-0.649709005559993,-0.415266566234811,-0.0516342969262494,-1.20692108094258,-1.08533918832377,40.8,0)
creditcard_class(7.0,-0.89428608220282,0.286157196276544,-0.113192212729871,-0.271526130088604,2.6695986595986,3.72181806112751,0.370145127676916,0.851084443200905,-0.392047586798604,-0.410430432848439,-0.705116586646536,-0.110452261733098,-0.286253632470583,0.0743553603016731,-0.328783050303565,-0.210077268148783,-0.499767968800267,0.118764861004217,0.57032816746536,0.0527356691149697,-0.0734251001059225,-0.268091632235551,-0.204232669947878,1.0115918018785,0.373204680146282,-0.384157307702294,0.0117473564581996,0.14240432992147,93.2,0)
creditcard_class(9.0,-0.33826175242575,1.11959337641566,1.04436655157316,-0.222187276738296,0.49936080649727,-0.24676110061991,0.651583206489972,0.0695385865186387,-0.736727316364109,-0.366845639206541,1.01761446783262,0.836389570307029,1.00684351373408,-0.443522816876142,0.150219101422635,0.739452777052119,-0.540979921943059,0.47667726004282,0.451772964394125,0.203711454727929,-0.246913936910008,-0.633752642406113,-0.12079408408185,-0.385049925313426,-0.0697330460416923,0.0941988339514961,0.246219304619926,0.0830756493473326,3.68,0)

#### Task 4
##### Using the columns and schema function, print the columns and the schema of creditcard_set.

#### Result:

In [ ]:
creditcard_set.columns

res11: Array[String] = Array(Time, V1, V2, V3, V4, V5, V6, V7, V8, V9, V10, V11, V12, V13, V14, V15, V16, V17, V18, V19, V20, V21, V22, V23, V24, V25, V26, V27, V28, Amount, Class)

In [ ]:
creditcard_set.schema

res12: org.apache.spark.sql.types.StructType = StructType(StructField(Time,DoubleType,true), StructField(V1,DoubleType,true), StructField(V2,DoubleType,true), StructField(V3,DoubleType,true), StructField(V4,DoubleType,true), StructField(V5,DoubleType,true), StructField(V6,DoubleType,true), StructField(V7,DoubleType,true), StructField(V8,DoubleType,true), StructField(V9,DoubleType,true), StructField(V10,DoubleType,true), StructField(V11,DoubleType,true), StructField(V12,DoubleType,true), StructField(V13,DoubleType,true), StructField(V14,DoubleType,true), StructField(V15,DoubleType,true), StructField(V16,DoubleType,true), StructField(V17,DoubleType,true), StructField(V18,DoubleType,true), StructField(V19,DoubleType,true), StructField(V20,DoubleType,true), StructField(V21,DoubleType,true),...

#### Task 5
##### Using select, print the values from the class column.

#### Result:

In [ ]:
creditcard_set.select("class")
.collect()
.take(20)
.foreach(println)

[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]

#### Task 8
##### Group creditcard_set by class and get the sum and the maximum value of Amount.

#### Result:

In [ ]:
creditcard_set.groupBy("class")
.agg(sum("Amount"), max("Amount"))
.collect()
.foreach(println)

[1,60127.96999999998,2125.87]
[0,2.510246203999057E7,25691.16]

#### Task 9
##### Convert creditcard_set to a Spark RDD and name as creditcard_RDD.

#### Result:

In [ ]:
val creditcard_rdd = creditcard_set.rdd

creditcard_rdd: org.apache.spark.rdd.RDD[creditcard_class] = MapPartitionsRDD[70] at rdd at <console>:26

## Exercise 4

#### Task 1
##### Let’s go back to using RDD_2, which is a text file we loaded in exercise 1.
##### Print the default parallelism in the current Spark context and also the number of partitions for RDD_2.

#### Result:

In [ ]:
sc.defaultParallelism

res15: Int = 1

#### Task 2
##### Reload the rdd_input.txt from `rdd-input-exercises.txt` with 4 partitions.
##### Save the object as RDD_4.

#### Result:

In [ ]:
val RDD_4 = sc.textFile(data_dir + "/rdd-input-exercises.txt", 4)

RDD_4: org.apache.spark.rdd.RDD[String] = /home/jovyan/scala-spark-training/data/rdd-input-exercises.txt MapPartitionsRDD[72] at textFile at <console>:27

#### Task 3
##### Count number of records per partition for RDD_4 and save as ex_num_records.
##### Print ex_num_records.

#### Result:

In [ ]:
val ex_num_records = RDD_4.glom()
.map(_.length)
.collect()

ex_num_records.foreach(println)

53
41
54
113

ex_num_records: Array[Int] = Array(53, 41, 54, 113)

#### Task 4
##### Make a dataframe listing partitions and number of records in each partition for RDD_4.

#### Result:

In [ ]:
RDD_4.mapPartitionsWithIndex{
    case (id, records) => Iterator((id, records.size))
}.toDF("partition_id","number_of_records")
.show

+------------+-----------------+
|partition_id|number_of_records|
+------------+-----------------+
|           0|               53|
|           1|               41|
|           2|               54|
|           3|              113|
+------------+-----------------+

#### Task 5
##### Check number of default partitions in our creditcard variable.

#### Result:

In [ ]:
creditcard.rdd
.getNumPartitions

res18: Int = 2

#### Task 6
##### Make a dataframe listing partitions and number of records in each partition for creditcard.

#### Result:

In [ ]:
creditcard.rdd
.mapPartitionsWithIndex{
    case (id, records) => Iterator((id, records.size))
}.toDF("partition_id","number_of_records")
.show

+------------+-----------------+
|partition_id|number_of_records|
+------------+-----------------+
|           0|           253505|
|           1|            31302|
+------------+-----------------+